<html>
	<head>
		<title>Calendar Widget | YNCN </title> 
		<!-- Boostrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.js"></script>

		<!-- Custom stuff -->
		<script src="calendar_app.js"></script>
		<script src="/src/calendar_service.js"></script>
		<script src="/src/calendar_controller.js"></script>
		<link rel="stylesheet" href="./calendar.css">
	</head>
	<body class="container" ng-app="calendarWidget" ng-controller="calendarController as main">
		<h1>Calendar</h1>
		<div class="row">
			<div class="col-md-8">
				<h2><span>{{main.selectDate.month}}</span>
				<small>{{main.selectDate.year}}</small></h2>
			</div>
			<div class="btn-group col-md-4">
				<button type="button" class="btn btn-default" ng-click="main.PreviousMonth()" id="previousMonthButton">Previous Month</button>
				<button type="button" class="btn btn-default" ng-click="main.SetCalendarToToday()" id="todayButton">Today</button>
				<button type="button" class="btn btn-default" ng-click="main.NextMonth()" id="nextMonthButton">Next Month</button>
			</div>
		</div>
		<div class="row table-responsive">
			<table class="table calendar-table">
				<tr>
					<th class="calendar-header">Sunday</th>
					<th class="calendar-header">Monday</th>
					<th class="calendar-header">Tuesday</th>
					<th class="calendar-header">Wednesday</th>
					<th class="calendar-header">Thursday</th>
					<th class="calendar-header">Friday</th>
					<th class="calendar-header">Saturday</th>
				</tr>
				<tr ng-repeat="(weekID, week) in main.monthObjects">
					<td ng-repeat="(date, event) in week" ng-class="{ 'calendar-disable': !main.IsSameMonth(date)}" class="calendar-date" id="{{date}}">
						<span ng-class="{ 'calendar-today': main.IsToday(date)}">{{ main.FormatDate(date) }}</span>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>